/.vs/AvaloniaTaskManagerPerformance/DesignTimeBuild/.dtbcache.v2
/.vs/AvaloniaTaskManagerPerformance/v17/.futdcache.v2
/.vs/AvaloniaTaskManagerPerformance/v17/.suo
/.idea/.idea.AvaloniaTaskManagerPerformance/.idea/avalonia.xml
/.vs/ProjectEvaluation/avaloniataskmanagerperformance.metadata.v6.1
/.vs/ProjectEvaluation/avaloniataskmanagerperformance.projects.v6.1
/.vs/AvaloniaTaskManagerPerformance/FileContentIndex/cad322dd-a7df-4011-96d9-2c5c616f7227.vsidx
/.idea/.idea.AvaloniaTaskManagerPerformance/.idea/indexLayout.xml
/.idea/.idea.AvaloniaTaskManagerPerformance/.idea/projectSettingsUpdater.xml
/.vs/AvaloniaTaskManagerPerformance/FileContentIndex/read.lock
/.idea/.idea.AvaloniaTaskManagerPerformance/.idea/vcs.xml
/.idea/.idea.AvaloniaTaskManagerPerformance/.idea/workspace.xml
